footer{
    display: flex;
    height: $footerHeight;
    margin: 0 auto;
    justify-content: center;
    a{
        @include padding();
    }
    svg{
        fill: color("exclusive-blue");
        width: 2em;
        height: 2em;
    }
}