html{
    overflow-x: hidden;
}
body{
    font-family: $body-font;
    overflow-x: hidden;
    position: relative;
    font: {
        size: map-get($font-sizes , "md" );
    };
    background-image: url('../img/low-poly-grid-haikei (1).svg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    @include media-breakpoint-down("sm"){
        background-repeat: repeat;
    }
    @include media-breakpoint-up("md"){
        background-repeat: no-repeat;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
main{
    display: flex;
    align-items: center;
    p{
        color: color("exclusive-blue");
    }
    @include media-breakpoint-up("lg"){
        height: 100vh - $mainHeight;
    }
}
