html{
    overflow-x: hidden;
}
body{
    font-family: $body-font;
    overflow-x: hidden;
    position: relative;
    font: {
        size: map-get($font-sizes , "md" );
    };
    background-image: url('../img/low-poly-grid-haikei (1).svg') ;
    background-repeat: no-repeat;
    background-size: 100%;
    // background-image: url('../img/low-poly-grid-haikei.svg') ;
    // background-repeat: no-repeat;
    // background-size: 100%;
    @include media-breakpoint-down("sm"){
        background-repeat: round;
    }
    @include media-breakpoint-up("md"){
        background-repeat: no-repeat;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}
main{
    display: flex;
    align-items: center;
    @include media-breakpoint-up("lg"){
        height: 100vh - $bodyHeight;
    }
}
.mainContainer.space{
    gap: 3em;
}
.mainContainer{
    width: 90%;
    margin:  0em auto;
    position: relative;
    p{
        color: color("exclusive-blue");
    }
    .aboutMe{
        p{
            font-size: map-get($font-sizes , "xs" );
            text-align: center;
        }
    }
    @include media-breakpoint-down("lg"){
        margin-top: 3em;
    }
    @include media-breakpoint-up("md"){
        // margin-top: 5em;
        // padding:  3em 5em 3em 5em;
        // margin:  3em 3em 0 3em;
        // display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // background: url("../pics/fence.jpg")center/cover;
        // animation-delay: 3200ms;
        
        // animation-direction: normal;
        // @keyframes picSlide {
            //     from {
                //        left: 90%;
                //     }
                //     to {
                    //         left: 0%;
                    //     }
                    // }
                    .fence {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -10000;
                        background: url("../pics/fence.jpg")center/cover;
                        width: 100%;
                        height: 100%;
                        &::before{
                            position: absolute;
                            top: 0;
                            left: 0;
                            content: "";
                            width: 100%;
                            height: 100%;
                            background :rgba(146, 145, 145, 0.137);
                        }
                        .aboutMe{
                            p{
                                margin:0 .2em .2em 0;
                            }
                        }
                        animation-duration: 2s;
                        animation-name: picSlide;
                        animation-fill-mode: forwards;
                        @keyframes picSlide {
                            from {
                                left: 50%;
                                opacity: 0;
                            }
                            to {
                                opacity: 1;
                                left: 0%;
                            }
                        }
                    } 
                    @include media-breakpoint-up("lg"){
                        .aboutMe{
                            p{
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                font-size: map-get($font-sizes , "lg" );;
                            }
                        }
                    }       
                }
                // @include media-breakpoint-up("xl"){
                    //     padding:  5em 5em 0 5em;
                    // }
                    // @include media-breakpoint-up("xxl"){
                        //     padding:  8em 10em 0 10em;
                        // }
                    }
                    #typeWriter{
                        // position: relative;
                        animation-duration: 2s;
                        animation-name: appears;
                        animation-fill-mode: both;
                        span, p{
                            color: color("exclusive-blue");
                        }
                        span{
                            font-size: 140px;
                            margin: 0;
                        }
                        .underline{
                            height: .8px;
                            background: color("exclusive-blue");
                            position: absolute;
                        }
                        .title{
                            display: grid;
                            grid-template-columns:100px 200px;
                            align-items: end;
                            position: relative;
                            span{
                                font-size: 150px;
                            }
                            #reativity{
                                display: flex;
                                p{
                                    grid-column: 2 /3;
                                    margin-bottom: 30px;
                                    font-size: 50px;
                                }
                            }
                            .underlineTitle{
                                position: absolute;
                                left: 100px;
                                bottom: 33px;
                                width: 150px;
                                animation-delay: 3200ms;
                                animation-duration: 2s;
                                animation-name: underlineSlide;
                                animation-fill-mode: both;
                            }
                            @keyframes underlineSlide {
                                from {
                                    width: 0px;
                                }
                                to {
                                    width: 150px;
                                }
                            }
                        }
                        .titlePartTwo{
                            display: grid;
                            grid-template-columns:100px 20px 100px;
                            align-items: end;
                            position: relative;
                            #bigO {
                                display: flex;
                                p{
                                    margin-bottom: 30px;
                                    font-size: 50px;
                                }
                            }
                            #bigOtwo{
                                p{
                                    margin-bottom: 30px;
                                    font-size: 50px;
                                }
                            }
                            .underlineHas{
                                left: 0px;
                                bottom: 33px;
                                width: 125px;
                                animation-delay: 4100ms;
                                animation-duration: 2s;
                                animation-name: underlineSlideTwo;
                                animation-fill-mode: both;
                            }
                            @keyframes underlineSlideTwo {
                                from {
                                    width: 0px;
                                }
                                to {
                                    width: 125px;
                                }
                            }
                        }
                        .titlePartThree{
                            display: grid;
                            grid-template-columns:70px 90px 90px 100px;
                            align-items: end;
                            position: relative;
                            #bor{
                                display: flex;
                                p{
                                    margin-bottom: 30px;
                                    font-size: 50px;
                                }
                            }
                            #rs{
                                display: flex;
                                p{
                                    margin-bottom: 30px;
                                    font-size: 50px;
                                }
                            }
                            .underlineBor{
                                left: 0px;
                                bottom: 35px;
                                width: 78px;
                                animation-delay: 5900ms;
                                animation-duration: 2s;
                                animation-name: underlineSlideThree;
                                animation-fill-mode: both;
                            }
                            .underlineRs{
                                left: 253px;
                                bottom: 35px;
                                width: 50px;
                                animation-delay: 6800ms;
                                animation-duration: 2s;
                                animation-name: underlineSlideFour;
                                animation-fill-mode: both;
                            }
                            @keyframes underlineSlideThree {
                                from {
                                    width: 0px;
                                }
                                to {
                                    width: 78px;
                                }
                            }
                            @keyframes underlineSlideFour {
                                from {
                                    width: 0px;
                                }
                                to {
                                    width: 50px;
                                } 
                            }
                        }
                        // @include media-breakpoint-up("md"){
                            //     .titlePartTwo{
                                //         margin-left: 3em;
                                //     }
                                //     .titlePartThree{
                                    //         margin-left: 5em;
                                    //     }
                                    // }
                                    @include media-breakpoint-up("md"){
                                        .titlePartTwo{
                                            margin-left: 3em;
                                        }
                                        .titlePartThree{
                                            margin-left: 5em;
                                        }
                                    }
                                    @include media-breakpoint-up("lg"){
                                        .titlePartTwo{
                                            margin-left: 3em;
                                        }
                                        .titlePartThree{
                                            margin-left: 5em;
                                        }
                                    }
                                    @include media-breakpoint-up("xl"){
                                        .titlePartTwo{
                                            margin-left: 5em;
                                        }
                                        .titlePartThree{
                                            margin-left: 10em;
                                        }
                                    }
                                    @include media-breakpoint-up("xxl"){
                                        .titlePartTwo{
                                            margin-left: 10em;
                                        }
                                        .titlePartThree{
                                            margin-left: 20em;
                                        }
                                    }
                                }
                                @keyframes appears {
                                    from {
                                        opacity: 0;
                                    }
                                    to {
                                        opacity: 1;
                                    }
                                }