#mainHeader{
    background-color: rgba(255,255,255,0.239);
    height: $headerHeight;
    position: relative;
    display: grid;
    grid-template-columns:  1fr 100px;
    align-items: center;
    justify-content: space-between;
    @include media-breakpoint-down("lg"){
        height: 20vh;
    }
    .name{
        display: grid;
        grid-template-columns: 130px 1fr;
        align-items: center;
        svg{
            width: 150px;
        }
        .logo{
            grid-column: 2 / 3;
            display: grid;
            grid-template-rows: 1fr 1fr;
        }
        a, p{
            color: color("exclusive-blue");
            letter-spacing: .2em;
        }
        a{
            // grid-column: 2 / 3;
            text-decoration: none;
            align-self: end;
            margin-bottom: .5em;
        }
        p{
            // grid-column: 2 / 3;
            grid-row: 2 / 3;
            align-self: start;
            margin-top: .5em;
        }
    }
    .container-corner {
        position: absolute;
        right: 20px;
        top: 40px;
        .btn-circle {
            background: color("dark-periwinkle");
            display: block;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            position: relative;
            z-index: 15;
            outline: none;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 2px solid color("exclusive-blue");
            .line {
                width: 50%;
                height: 3px;
                background: color("exclusive-blue");
                transition: 
                transform 0.2s ease,
                opacity 0.2s ease,
                top 0.2s ease 0.2s;
                position: relative;
                &:nth-child(1){
                    top: -10px;
                }
                &:nth-child(3){
                    top: 10px;
                }
            }
        }
        .btn-circle.menu-anim .line:nth-child(1){
            top: 3px;
            transform: rotate(45deg);
            transition: 
            top 0.2s ease,
            transform 0.2s ease 0.2s;
        }
        
        .btn-circle.menu-anim .line:nth-child(2){
            opacity: 0;
            transition: opacity 0.2s ease;
        }
        
        .btn-circle.menu-anim .line:nth-child(3){
            top: -3px;
            transform: rotate(-45deg);
            transition: 
            top 0.2s ease,
            transform 0.2s ease 0.2s;
        }
        
        .circle-menu {
            background: color("sunset-orange");
            width: 500px;
            height: 500px;
            border-radius: 50%;
            border: 90px solid rgba(255,255,255,0.239);
            position: absolute;
            z-index: 5;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            transition: transform 0.4s ease 0.5s;
            .links-circle {
                border-radius: 50%;
                width: 90px;
                height: 90px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0);
                display: flex;
                justify-content: center;
                align-items: center;
                svg {
                    width: 80px;
                    transition: transform 0.2s ease;
                    fill: color("dark-periwinkle");
                }
                
                svg:hover {
                    transform: scale(1.2);
                }
                &:nth-child(1){
                    left: 0%;
                    transition: transform 0.2s ease 0.4s;
                }
                &:nth-child(2){
                    left: 15%;
                    top: 85%;
                    transition: transform 0.2s ease 0.2s;
                }
                &:nth-child(3){
                    top: 100%;
                    transition: transform 0.2s ease;
                }
            }
        }
        .circle-menu.circle-anim {
            transition: transform 0.4s ease 0.4s;
            transform: translate(-50%, -50%) scale(1);
        }
        
        .circle-menu.circle-anim .links-circle:nth-child(1){
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.2s ease 0.7s;
        }
        .circle-menu.circle-anim .links-circle:nth-child(2){
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.2s ease 0.9s;
        }
        .circle-menu.circle-anim .links-circle:nth-child(3){
            transform: translate(-50%, -50%) scale(1);
            transition: transform 0.2s ease 1.1s;
        }
    }
    // @include display-grid();
    // grid-template-columns: 130px 1fr 40px 40px;
    // align-items: center;
    // padding: 0 1em 0 1em;
    // svg{
        //     width: 125px;
        // }
        // .logo{
            //     display: grid;
            //     grid-template-columns: 1fr;
            //     grid-template-rows: repeat(2, 1fr);
            //     a, p{
                //         text-decoration: none;
                //         color: color("exclusive-blue");
                //         // font-size: map-get($font-sizes , "lg" );
                //         margin: 5px;
                //         letter-spacing: .2em;
                //     }
                //     a{
                    //         align-self: end;
                    //     }
                    //     p{
                        //         align-self: start;
                        //     }
                        // }
                        // #menuToggle{
                            //     height: 20px;
                            //     display: flex;
                            //     flex-direction: column;
                            //     justify-content: space-between;
                            //     align-items: center;
                            //     cursor: pointer;
                            //     div {
                                //         width: 20px;
                                //         border: solid 1px ;
                                //         color: color("white");
                                //     }
                                // }
                            }