.aboutContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em 0 1em;
    animation-duration: 2s;
    animation-name: appears;
    animation-fill-mode: both;
    p{
        line-height: 1.8em;
    }
    @include media-breakpoint-up("md"){
       background: url("../pics/blue.jpg")center/cover; 
       width: 90%;
       height: 90%;
       position: relative;
       margin: 0 auto;
       margin-top: 3em;
       margin-bottom: 3em;
       &::before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 100%;
        height: 100%;
        background :rgba(29, 28, 28, 0.397);
    }
    .presentation{
        @include padding();
        position: relative;
        z-index: 10000;
    }
    }
    @include media-breakpoint-up("lg"){
        background: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3em;
        &::before{
            display: none;
        }
        .aboutPic{
            background: url("../pics/blue.jpg")center/cover;
            width: 100%;
            height: 90%;
            position: relative;
            &::before{
                position: absolute;
                top: 0;
                left: 0;
                content: "";
                width: 100%;
                height: 100%;
                background :rgba(209, 48, 48, 0.137);
            }
        }
    }
}
.orange.orangeTop{
    transform: rotate(180deg);
}
.orange{
    animation: 3s ease-in 1s  alternate both running OrangeTwist;
    svg{
        width: 50%;
        height: 80px;
        @include media-breakpoint-up("xl"){
            width: 50%;
            height: 120px;
        }
        @include media-breakpoint-up("xxl"){
            width: 50%;
            height: 140px;
        }
    }
    @keyframes OrangeTwist{
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    #groupQuartier{
        @include mytrans(1s)
    }
    #quartier1{
        animation: 4.8s ease-in .8s  alternate both running OrangeSlide;
        @keyframes OrangeSlide {
            from{
                transform: translate(+10%);
                opacity: .3;
            }
            to {
                transform: translate(0);
                opacity: 1;
            }
        }
    }
    #quartier2{
        animation: 4.6s ease-in 1.2s  alternate both running OrangeSlide2;
        @keyframes OrangeSlide2 {
            from{
                transform: translateY(+10%);
                opacity: .3;
            }
            to{
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }
    #quartier3{
                animation: 4.4s ease-in 1s  alternate both running OrangeSlide3;
        @keyframes OrangeSlide3 {
            from{
                transform: translate(-10%);
                opacity: .3;
            }
            to {
                transform: translate(0);
                opacity: 1;
            }
        }
    }
}